body {
    background-color : #FFFBEE;
    margin: 0px;
    overflow-x: hidden;
    height: 100vw;
}

.navbar ul{
    list-style-type: none;
    background-color:#E6B875;
    padding: 0px;
    margin: 0px;
    overflow: hidden;
}

.navbar a.active {
    background-color: white;
    color: #E6B875;
  }

.navbar a{
    color: black;
    text-decoration: none;
    display: block;
    text-align: center;
    font-family: 'GeneralSansMedium';
    font-size: 1.5vw;
    width: 26vw;
    line-height: 5.2vw;
    height: 5vw;
}
.navbar a:hover{
    background-color: white;
    color: #E6B875;
}

.navbar li{
    float: left;
    width: 24.69vw;
}

/* #availability{
    height: 100vh
} */

#footnote_av{
    font-family: 'GeneralSansLight';
    font-size: 18;
    max-width: 100%;
    height: 150px;
    background-color: #E6B875;
    position: relative;
    padding-top: 2%;
    top:25%;
}
#footnote_gal{
    font-family: 'GeneralSansLight';
    font-size: 18;
    max-width: 100%;
    height: 150px;
    background-color: #E6B875;
    position: relative;
    padding-top: 2%;
    top: 25%;    
}

#contact{
    position: absolute;
    font-family: 'GeneralSansMedium';
    font-size: 27px;
    line-height: 1;
    top: 14px;
    left: 7%;
}

.calendar{
    max-width: 60%;
    /* padding-top: 5%; */
    top: 70px;
    height: auto;
    position: relative;
    left: 17%;
    /* border-style: dotted; */
}

.text{
    margin: 0px;
    width: fit-content;
    height: auto;
    position: relative;
    /* border-style: dotted; */
    font-family: 'GeneralSansLight';
    font-size: 1.7vw;
    text-align: left;
    left: 10%;
    top: 110px
}

.p{
    font-family: GeneralSansLight;
    font-size: 2vw;
    text-align: center;
    position: relative;
    left: 30%;
    border-style: double;
    width: 40vw;
    height: auto;
}


img{
    width: 70vw;
    height: auto;
    left: 15%;
    position: relative;
    padding: 1%;
    padding-bottom: 0%;
}

.smallerphotos{
    position: relative;
    width: 34vw;
    height: auto;
    left: 15%;
    float:left; 
    padding: 1%;
}
.smallerphotos2{
    position: relative;
    width: 34vw;
    height: auto;
    left: 15%;
    float:left; 
    padding: 1%;
}

@font-face {
    font-family: 'GeneralSansBold';
    src: url('Fonts/GS\ Bold.otf');
}
@font-face {
    font-family: 'GeneralSansLightItalic';
    src: url('Fonts/GS\ Light\ Italic.otf');
}
@font-face {
    font-family: 'GeneralSansMediumItalic';
    src: url('Fonts/GS\ Medium\ Italic.otf');
}
@font-face {
    font-family: 'GeneralSansMedium';
    src: url('Fonts/GS\ Medium.otf');
}
@font-face {
    font-family: 'GeneralSansMediumLight';
    src: url('Fonts/GS\ Medium\ Light.otf');
}
@font-face {
    font-family: 'GeneralSansSemibold';
    src: url('Fonts/GS\ Semibold.otf');
}
@font-face {
    font-family: 'GeneralSansLight';
    src: url('Fonts/GS\ Light.otf');
}

@media only screen and (max-width: 1700px) and (min-width: 451px){
    .navbar a{
        color: black;
        text-decoration: none;
        display: block;
        text-align: center;
        font-family: 'GeneralSansMedium';
        font-size: 1.5vw;
        width: 27vw;
        line-height: 5.2vw;
        height: 5vw;
   }
    .navbar li{
        float: left;
        width: 24vw;
    }
  }

  @media only screen and (max-width: 450px) and (min-width: 1px) {
    .navbar a{
        color: black;
        text-decoration: none;
        display: block;
        text-align: center;
        font-family: 'GeneralSansMedium';
        font-size: 1.5vw;
        width: 27vw;
        line-height: 5.2vw;
        height: 5vw;
   }
    .navbar li{
        float: left;
        width: 24vw;
    }
  }
