body {
    background-color : #FFFBEE;
    margin: 0px;
    height: auto;
    overflow-x: hidden;
}

.navbar ul{
    list-style-type: none;
    background-color:#E6B875;
    padding: 0px;
    margin: 0px;
    overflow: hidden;
}

.navbar a.active {
    background-color: white;
    color: #E6B875;
  }

.navbar a{
    color: black;
    text-decoration: none;
    display: block;
    text-align: center;
    font-family: 'GeneralSansMedium';
    font-size: 1.5vw;
    width: 26vw;
    line-height: 5.2vw;
    height: 5vw;
}

.navbar a:hover{
    background-color: white;
    color: #E6B875;
}

.navbar li{
    float: left;
    width: 24.69vw;
}


#intro_box{
    position: relative;
    max-width: 100%;
    height: 250px;
    background-color: #F5F0DD;
}

#adresa{
    position: absolute;
    font-family: GeneralSansLight;
    font-size: 18;
    text-align: center;
    line-height: 2px;
    top: 110px;
    left: 8%;
}

#mobitel{
    position: absolute;
    font-family: GeneralSansLight;
    font-size: 18;
    text-align: center;
    line-height: 2px;
    top: 110px;
    left: 26%;
}

#email{
    position: absolute;
    font-family: GeneralSansLight;
    font-size: 18;
    text-align: center;
    line-height: 2px;
    top: 110px;
    left: 45%;
}

#socials{
    position: absolute;
    font-family: GeneralSansLight;
    font-size: 18;
    text-align: center;
    line-height: 2px;
    top: 110px;
    left: 67%;
}

#ytvideo{
    position: absolute;
    font-family: GeneralSansLight;
    font-size: 18;
    text-align: center;
    line-height: 2px;
    top: 110px;
    left: 85%;
}

#CarlGermany{
    position: absolute;
    font-family: 'GeneralSansLightItalic';
    font-size: 15;
    line-height: 0.5;
    top: 360px;
    left: 7%;
}

#ClarissaGermany{
    position: absolute;
    font-family: 'GeneralSansLightItalic';
    font-size: 15;
    line-height: 0.5;
    top: 360px;
    left: 55%;
}

#Kelly{
    position: absolute;
    font-family: 'GeneralSansLightItalic';
    font-size: 15;
    line-height: 0.5;
    top: 740px;
    left: 7%;
}

#ClaudiaAustria{
    position: absolute;
    font-family: 'GeneralSansLightItalic';
    font-size: 15;
    line-height: 0.5;
    top: 690px;
    left: 54.6%;
}

#Laura{
    position: absolute;
    font-family: 'GeneralSansLightItalic';
    font-size: 15;
    line-height: 0.5;
    top: 1180px;
    left: 7%;
}

#Oscar{
    position: absolute;
    font-family: 'GeneralSansLightItalic';
    font-size: 15;
    line-height: 0.5;
    top: 1340px;
    left: 55%;
}

#Mirek{
    position: absolute;
    font-family: 'GeneralSansLightItalic';
    font-size: 15;
    line-height: 0.5;
    top: 1440px;
    left: 7%;
}

#footnote{
    font-family: 'GeneralSansLight';
    font-size: 18;
    max-width: 100%;
    height: 150px;
    background-color: #E6B875;
    position: relative;
    padding-top: 2%;
    top:1400px
}

#contact{
    position: absolute;
    font-family: 'GeneralSansMedium';
    font-size: 27px;
    line-height: 1;
    top: 0px;
    left: 7%;
    height: 150px;
}

@media only screen and (max-width: 450px) and (min-width: 1px) {

    #footnote{
        font-family: 'GeneralSansLight';
        font-size: 18;
        max-width: 100%;
        height: 150px;
        background-color: #E6B875;
        position: relative;
        padding-top: 2%;
        top:1400px
    }
    
    #contact{
        position: relative  ;
        font-family: 'GeneralSansMedium';
        font-size: 27px;
        line-height: 1;
        top: 0px;
        left: 7%;
        height: 150px;
    }

    #adresa{
        position: relative;
        font-family: GeneralSansLight;
        font-size: 18;
        text-align: center;
        line-height: 2px;
        top: 0px;
        left: 0%;
        padding: 1%;

    }
    
    #mobitel{
        position: relative;
        font-family: GeneralSansLight;
        font-size: 18;
        text-align: center;
        line-height: 2px;
        top: 0px;
        left: 0%;
        padding: 1%;

    }
    
    #email{
        position: relative;
        font-family: GeneralSansLight;
        font-size: 18;
        text-align: center;
        line-height: 2px;
        top: 0px;
        left: 0%;
        padding: 1%;

    }
    
    #socials{
        position: relative;
        font-family: GeneralSansLight;
        font-size: 18;
        text-align: center;
        line-height: 2px;
        top: 0px;
        left: 0%;
        padding: 1%;
    }
    
    #ytvideo{
        position: relative;
        font-family: GeneralSansLight;
        font-size: 18;
        text-align: center;
        line-height: 2px;
        top: 0px;
        left: 0%;
        padding: 1%;

    }

    #CarlGermany{
        width: 90vw;
        position: relative ;
        border-style: dashed;
        font-family: 'GeneralSansLightItalic';
        font-size: 15;
        line-height: 1.2;
        top: 0px;
        left: 4%;
    }
    /* *{border: 1px solid red;} */
    #ClarissaGermany{
        width: 90vw;
        position: relative;
        font-family: 'GeneralSansLightItalic';
        font-size: 15;
        line-height: 1.2;
        left: 4%;
        border-style: dotted;
    }
    
    #Kelly{
        width: 90vw;
        position: relative;
        font-family: 'GeneralSansLightItalic';
        font-size: 15;
        line-height: 1.2;
        left: 4%;
    }
    
    #ClaudiaAustria{
        width: 90vw;
        position: relative;
        font-family: 'GeneralSansLightItalic';
        font-size: 15;
        line-height: 1.2;
        left: 4%;
    }
    
    #Laura{
        width: 90vw;
        position: relative;
        font-family: 'GeneralSansLightItalic';
        font-size: 15;
        line-height: 1.2;
        left: 4%;
    }
    
    #Oscar{
        width: 90vw;
        position: relative;
        font-family: 'GeneralSansLightItalic';
        font-size: 15;
        line-height: 1.2;
        left: 4%;
    }
    
    #Mirek{
        width: 90vw;
        position: relative;
        font-family: 'GeneralSansLightItalic';
        font-size: 15;
        line-height: 1.2;
        left: 4%;
    }
  }


@font-face {
    font-family: 'GeneralSansBold';
    src: url('Fonts/GS\ Bold.otf');
}
@font-face {
    font-family: 'GeneralSansLightItalic';
    src: url('Fonts/GS\ Light\ Italic.otf');
}
@font-face {
    font-family: 'GeneralSansMediumItalic';
    src: url('Fonts/GS\ Medium\ Italic.otf');
}
@font-face {
    font-family: 'GeneralSansMedium';
    src: url('Fonts/GS\ Medium.otf');
}
@font-face {
    font-family: 'GeneralSansMediumLight';
    src: url('Fonts/GS\ Medium\ Light.otf');
}
@font-face {
    font-family: 'GeneralSansSemibold';
    src: url('Fonts/GS\ Semibold.otf');
}
@font-face {
    font-family: 'GeneralSansLight';
    src: url('Fonts/GS\ Light.otf');
}

@media only screen and (max-width: 1700px) and (min-width: 451px){
    .navbar a{
        color: black;
        text-decoration: none;
        display: block;
        text-align: center;
        font-family: 'GeneralSansMedium';
        font-size: 1.5vw;
        width: 27vw;
        line-height: 5.2vw;
        height: 5vw;
   }
    .navbar li{
        float: left;
        width: 24vw;
    }
  }

  @media only screen and (max-width: 450px) and (min-width: 1px) {
    .navbar a{
        color: black;
        text-decoration: none;
        display: block;
        text-align: center;
        font-family: 'GeneralSansMedium';
        font-size: 1.5vw;
        width: 27vw;
        line-height: 5.2vw;
        height: 5vw;
   }
    .navbar li{
        float: left;
        width: 24vw;
    }
  }
